<h1>Users new page</h1>
<h2>Sign Up</h2>


<form action="/users" method="POST">
  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="Create a New User" >
</form>





<p style="text-align:center;">
  <a href="/users/login">Login</a>
</P>