<h2>Welcome to your dart sets, <%= @user.username %>. </h2>

<p style="color:red;"><%= @error_message %></p>

<% if logged_in? && current_user == @user %>
<% @user.dart_sets.each do |dart_set| %>  
Dart Set Name: <a href="/dart_sets/<%= dart_set.id %>"> <%= dart_set.name %> </a>
<br>
<br>
<% end %>

    <a href="/dart_sets/new">Add A New Dart Set</a>
   

<br>
<% end %>
