Welcome to your dart sets and darts viewing page, <%= @user.username %>.
<br>
<br>
<br>
<% @user.dart_sets.each do |dart_set| %>  
Dart Set Name: <a href="/dart_sets/<%= dart_set.id %>"> <%= dart_set.name %> </a>
<br>
<br>
<% end %>

    <a href="/dart_sets/new">Add A New Dart Set</a>
   

<br>
