<h2> These are all of your dart sets: </h2>
<% @dart_sets.each do |dart_set| %>
<h3>Dart Set Name: <%= dart_set.name %></h3>
<br />
<table>
  <a href="/dart_sets/<%= dart_set.id %>"> View Set Contents</a>
  <br>
  <a href="/dart_sets/<%= dart_set.id %>/edit"> Edit Set Name</a>
  <br>
  <form method="POST" action="/dart_sets/<%= dart_set.id %>/delete" >
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Set">
  </form>
  </table>
  <br />
  <br />
<% end %>
<p>
<a  href="/dart_sets/new">New Dart Set</a>
</p>
