<h1>Dart Set new view</h1>
<h2>Add a Dart Set</h2>
<table>
<span style="color:red;">
  <%= @error_message %>
  </span>
  <br />
<form action="/dart_sets" method="POST">
  <label> Dart Set Name </label>
  <input type="text" name="name" value="New Dart Set Name"> <br />
  <input type="submit" value="Create New Dart Set" >
</form>
<br />
  
  
<form action="/dart_sets" method="GET">
  <input type="submit" value="Cancel">
</form>
</table>

<p>
<a href="/dart_sets"> Your Dart Sets</a>
</p>