<div class="container">
    
    <div class="content">
      <h2> Welcome to Dartu!</h2>


<h3> Please <a href="/users/new">Sign Up</a> or <a href="/users/login">Login</a> </h3>

    </div>



</div>
